body {
    /* overflow-y: auto!important; */
}
.employee-ava {
    width: 50px;
}

.inline-photo {
    margin: 20px;
    width: 190px;
}
.MuiFormLabel-root {
    font-size: 1rem !important
}

#questiontext{
    font-size: 1rem !important
}

#bottext{
    font-size: 1rem !important
}

.MuiButton-root{
    font-size: 1rem !important
}