.mainlogin{
    text-align: center;
}

.username{
    font-size: 4rem;
    margin-top: 200px;
    margin-bottom: 100px;
}

.password{
    font-size: 4rem;
    margin-bottom: 100px;
}

.login{
    font-size: 4rem;
}