.mainlogin{
    margin-top: 17%
}

.loginicon{
    font-size: 4rem !important
}

.MuiFormLabel-root{
    font-size: 2rem !important
}

#loginusername{
    font-size: 3rem !important
}

#loginpassword{
    font-size: 3rem !important
}

.MuiButton-root{
    font-size: 1.5rem !important
}
    
    
    
