html{
    scroll-behavior: smooth;
    font-family: 'Montserrat';
    text-align: center;
}

.questionblock{
    height: 800px;
    overflow-wrap: break-word;
}

.questiontext{
    padding-top: 3%;
    font-size: 5rem;
    height: 200px;
    overflow: hidden;
}

.hr{
    border-top: 5px solid black;
    width: 60%;
}

.questionimagesone{
    width: 19%;
    margin-top: 5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    animation-duration: 1.75s;
}

.questionimagestwo{
    width: 19%;
    margin-top: 9%;
    margin-left: 5%;
    margin-right: 5%;
    animation-duration: 1.75s;
}

.comment {
    margin-top: 12%;
    padding: 80px;
    font-size: 2rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    border-radius: 3%;
}

.commentok {
    padding: 80px;
    font-size: 2rem;
    color: white;
    background-color: slategray;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    border-radius: 5%;
}

.reason { 
    display: block;
    padding: 10px;
    text-align: center;
    width: 80%;
    max-width: 700px;
    min-width: 300px;
    margin: 40px auto;
    background-color: #e1e1e1;
    text-decoration: none;
    color: black;
    font-size: 20px;
}