html{
    scroll-behavior: smooth;
    font-family: 'Montserrat';
}

body{ 
    margin:0px; 
}

.main{
    text-align: center;   
}


.finallogo{
    font-size: 5rem;
    padding-top: 3%;
    color: white;
}

.start{
    font-size: 5rem;
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: bold;
    color: white;
}

.startbutton{
    width: 20%;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.9);
    border-radius: 11%;
}

.question{
    font-size: 5rem;
    padding-top: 2%;
}

.hr{
    border-top: 5px solid black;
    width: 60%;
}

.questionone{
    width: 19%;
    margin-top: 10%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.questiontwo{
    width: 19%;
    margin-top: 9%;
    margin-left: 5%;
    margin-right: 5%;
}

.questionthree{
    width: 19%;
    margin-top: 6%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.hint{
    font-size: 2rem;
    margin-top: 4%;
    margin-bottom: 4%;  
}

.comment{
    margin-top: 16%;
    padding: 80px;
    font-size: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.commentok{
    padding: 80px;
    font-size: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}



.thanks{
    font-size: 6rem;
    margin-top: 10%;
    color: white;
}

.logo{
    margin: 0 auto;
    margin-top: 10%;
    width: 12%;
}