html{
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{ 
    margin:0px; 
}

.main{
    text-align: center;   
}

.start{
    font-size: 7rem;
    margin-top: 12%;
    margin-bottom: 6%;
}

.startok{
    font-size: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.question{
    font-size: 5rem;
}

.hr{
    border-top: 5px solid black;
    width: 60%;
}

.questionone{
    width: 19%;
    margin-top: 7%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.questiontwo{
    width: 19%;
    margin-top: 9%;
    margin-left: 5%;
    margin-right: 5%;
}

.questionthree{
    width: 19%;
    margin-top: 6%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.hint{
    font-size: 2rem;
    margin-top: 4%;
    margin-bottom: 4%;  
}

.comment{
    margin-top: 16%;
    padding: 80px;
    font-size: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.commentok{
    padding: 80px;
    font-size: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.thanks{
    font-size: 5.5rem;
    margin-top: 18%;
}

.logo{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 4rem;
    color: white;
    background-color: black;
}